.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.empty-article-text{
    margin-top: 40px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-text-color)
}

.fa-solid.fa-circle-check{
    font-size: 9rem;
    transform: rotate(343deg);
    color: var(--secondary-text-color);
}

.retourSite{
    color: white;
    margin-top: 40px;
    width: 35vw;
    height: 60px;
    background-color: var(--secondary-text-color);
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1.3rem;
    font-weight:700 ;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
